html {
  -webkit-font-smoothing: antialiased;
}

a {
  color: #343a40;
}

a:hover {
  color: rgba(0,0,0,.5);
}

.navbar {
  box-shadow: 0 13px 42px rgba(0, 0, 0, 0.09);
}

.add-book {
  margin-left: 13px;
}

/* Index page */

.jumbo {
  padding: 20px 0 20px 0;
}

.all-books {
  margin: 0px 15px 0px 15px;
}

.single-book {
  border-radius: 5px;
  margin: 0 0 35px 0;
  box-shadow: 0 6px 32px rgba(0,0,0,0.15);
  transition: transform 500ms cubic-bezier(0.34, 2, 0.6, 1),box-shadow 200ms ease;
}

.single-book:hover {
  box-shadow: 0 13px 42px rgba(0,0,0,0.5);
  -webkit-transform: scale(1.03, 1.03);
  transform: scale(1.05, 1.05);
}

.book-image {
  width: 100%;
}

.single-book-cover {
  height: 300px;
  background-position: center center;
  background-size: cover;
  border-radius: 5px;
}

/* Book page */

.outer-content {
  margin-top: 90px;
}

.inner-content {
  padding: 30px;
}

.book-info {
  padding: 50px;
}

/* New book */

.form-new-book-main {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 180px;
  padding-bottom: 40px;
}

.form-new-book {
  width: 100%;
  max-width: 390px;
  padding: 15px;
  margin: 0 auto;
}

.form-new-book .checkbox {
  font-weight: 400;
}

.form-new-book .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-new-book .form-control:focus {
  z-index: 2;
}

.form-new-book input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-new-book input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
