body {
  font-family: 'Open Sans', sans-serif;
  color: #222;
}

.fluid-container {
  height: 100vh;
}

.full-height {
  height: 100%;
}

.wood-bg {
  background: url('/seamless_wood_texture.jpg');
  overflow-y: scroll;
}

.menu {
  text-align: center;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.library-row {
  border-bottom: 18px #563D28 solid;
  margin-bottom: 20px;
}

.book-image {
  margin: 30px 0 0;
}

.inner-book-image {
  background: rgba(255, 255, 255, 0.8);
  height: 210px;
  padding: 20px;
  cursor: pointer;
}

.book-cover {
  max-height: 400px;
}

.new-book {
  display: block;
}

.book-name {
  font-weight: bold;
}

.book-author {
  font-style: italic;
}

.book-genre {
  font-size: 12px;
}

.book-details {
  text-align: left;
  font-size: 20px;
  line-height: 22px;
  padding: 0 40px 40px 40px;
}

.book-details-label {
  font-size: 20px;
  font-weight: bold;
}

.book-blurb {
  font-size: 16px;
  line-height: 18px;
}
